<div class="c-door">
	<img class="c-door__frame" src="course/en/images/b-16/pic-frame.png">
	<img class="c-door__bg" src="{{./src}}">
	<div class="c-door__door">
		<img src="course/en/images/b-16/pic-door.png">
		<div class="c-door__content">
			<div class="c-door__body">
				{{{./content}}}
			</div>
		</div>
	</div>
</div>