<div class="c-lobsterbistro">
	<div style="width: 40%;">
		{{#paper theme="white"}}	
		<table class="c-lobsterbistro__table">
			<caption>
			<div style="display: flex; align-items: center;">
				<div style="width: 100%">{{{img src="course/en/images/b-11/logo.svg"}}}</div>
				<div style="flex-grow: 1;" hidden><h2><strong>Lobster Bistro</strong></h2></div>
			</div>
			</caption>
			<tr>
				<th>Quantity</th>
				<th>Item</th>
				<th>Position</th>
			</tr>
			<tr class="u-font-cursive">
				<td>1.</td>
				<td>Garlic prawns</td>
				<td>3</td>
			</tr>
			<tr class="u-font-cursive">
				<td>2.</td>
				<td>Corn soup</td>
				<td>1, 4</td>
			</tr>
			<tr class="u-font-cursive">
				<td>1.</td>
				<td>Veg lasagne</td>
				<td>2</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="u-font-cursive">
				<td>2.</td>
				<td>Steak (MR) (R)</td>
				<td>2, 4</td>
			</tr>
			<tr class="u-font-cursive">
				<td>1.</td>
				<td>Veal (no cream)</td>
				<td>1</td>
			</tr>
			<tr class="u-font-cursive">
				<td>1.</td>
				<td>Osso Bucco</td>
				<td>3</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="u-font-cursive theme-subheader">
				<td style="text-align: left;">Waiter: Lani</td>
				<td style="text-align: left;">Time: 7.15</td>
				<td></td>
			</tr>
			<tr class="u-font-cursive theme-subheader">
				<td style="text-align: left;">Table No.: 6</td>
				<td style="text-align: left;">Covers: 4</td>
				<td></td>
			</tr>
		</table>
		{{/paper}}
	</div>
</div>